*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
   font-size: 16px;
   list-style: none;
}
.bg1{
   
    background-image: url(bg-image-mobile.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.headding{
    color: rgba(225, 225, 225, .1);
    text-align: center;
    padding: 20px;
    font-family: 'Fondamento', cursive;
    line-height: 1.2;
    background-image: url(colors.jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
}
.name{
    display: block;
    font-size: 3rem;
}
.image1{
    padding-left:110px;
    padding-top: 30px; 
}
p{
    text-align: center;
    padding: 8px;
    font-size: 18px;
}
.headding1{
    text-align: center;
    padding: 40px;
    font-size: 3.5rem;
    font-family: 'Stalinist One', cursive;
    color: #282828;
}
.head{
    font-size: 1.5rem;
    color: #999999;
}
.brown{
    color: #404040;
}
.brown2{
    color: blue;
    font-size: 20px;
}
.headding2{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Stalinist One', cursive;
    padding: 40px;
   color: #00ccff;
}
.about{
    background-color: #9999;
    height: 450px;
    border-radius: 20px;
}
.bg2{
   background-image: url(bg-image-mobile3.jpg);
   height: 400px;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 15px;
}
.skills{
    list-style: none;
    margin: 30px;
    color:black;
    font-size: 1.5rem;
}
.skills li{
    margin: 20px 0;
}
.bar{
    background: #00ccff ;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #00ffff;
}
.bar span{
    height: 2px;
    float: left;
    background:  black;
}
.html{
    width:80%;
    animation: html 2s;
}
.css{
    width:60%;
    animation: css 2s;
}
.git{
    width:80% ;
    animation: css 2s;
}
.javascript{
    width: 20%;
    animation: css 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes git{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
.headding3{
    font-family: 'Stalinist One', cursive;
    text-align: center;
    color: #ff0000;
    background-color: white;
    margin-bottom: 20px;
}
.project1{
    margin: 15px;
}
.project2{
    margin: 15px ;
}
.project3{
    margin: 15px ;
}
.project4{
    margin: 15px ;
}
.headding4{
    font-family: 'Stalinist One', cursive;
    text-align: center;
    color: #3300ff;
    background-color: #66ff99;
    width: 200px;
    margin-bottom: 50px;
}
.hob1{
    margin: 20px;
    font-size: 1.5rem;
    background-color: black;
    width: 110px;
    height: 26px;
    color: white;
}
.hob2{
    margin: 20px;
    font-size: 1.5rem;
    background-color: black;
    width: 170px;
    height: 26px;
    color: white;
}
.hob3{
    margin: 20px;
    font-size: 1.5rem;
    background-color: black;
    width: 60px;
    height: 26px;
    color: white;
}
.hob4{
    margin: 20px;
    font-size: 1.5rem;
    background-color: black;
    width: 95px;
    height: 26px;
    color: white;
}
.headding5{
    text-align: center;
    font-size: 2.2rem;
    color: #666600;
}
.fa{
    font-size: 50px;
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}